#logo {
    border-radius: 8px;
    position: relative;
    right: 16px;
    /* margin-left: 20px; */
}

.INNO {
    background-image: url('../img/complex2.jpg');
    /* background-color: red; */
    
}

.container {
    margin-top: 30px;
}
