#logo {
    border-radius: 8px;
    position: relative;
    right: 16px;
    /* margin-left: 20px; */
}

.stdhome {
    width: 68%;
    height: 50px;
    position: relative;
    left: 27%;
    /*top: 20%;*/
    bottom: 50%;
   
}
@media(max-width: 600px){
    .stdhome {
        width: 60%;
        height: 200px;
        position: relative;
        left: 15%;
        top: 15%;
        bottom: 5%;
       
    }
}

.sidebar {
    margin-top: 2%;
}
